@page
@model DWBooking.Pages.Admin.Counceling.GetAllCouncelingModel
@{
}
div class="page-breadcrumb">
<div class="row">
    <div class="col-5">
        <h4 class="page-title" style="text-align: left;">Samtale oversigt</h4>
    </div>
    <div class="col-7 align-self-center">
        <div class="d-flex align-items-center justify-content-end">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Samtale oversigt</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="table-responsive">
    <div class="card card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Borger</th>
                    <th scope="col">Rådgiver</th>
                    <th scope="col">Dato</th>
                    <th scope="col">subject</th>
                    <th scope="col">Noter</th>
                </tr>
            </thead>
            <tbody>
                @if (@Model.Councelings != null)
                {
                    foreach (var counceling in Model.Councelings)
                    {
                        <tr>
                            <td>@counceling.Client.Name</td>
                            <td>@counceling.Employee.Name</td>
                            <td>@counceling.Date</td>
                            <td>rådgivning</td>
                            <td>@counceling.Notes</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>